// Google color
$google_color_blue:   #4285f4; //old: #4285f4;
$google_color_green:  #34a853; //old: #0f9d58;
$google_color_yellow: #fbbc05; //old: #f4b400;
$google_color_red:    #ea4335; //old: #db4437;

// Custom
$load_L_Tail:   5deg;
$load_L_Body: 270deg;
$load_L_Foot: 360deg * (3/5);
$load_line_speed: 1333ms;
$load_timing_function: cubic-bezier(0.4, 0.0, 0.2, 1);

// Loading Line Degree
$load_L_Air: 360deg - $load_L_Body;
$load_L_S: $load_L_Tail * 2;
$load_L_L: $load_L_Tail * 2 + $load_L_Body;

// loading-circle Rotate Speed
$load_circle_rotate_nofoot_speed: 360deg / (           0 + $load_L_Air) * $load_line_speed;
$load_circle_rotate_foot_speed:   360deg / ($load_L_Foot + $load_L_Air) * $load_line_speed;
// 1568.23529ms

// loading-line Rotate Step
@function load_line_rotate_step($Body) {
  $D: 360deg;
  $step: 0;
  @while $D > 0deg {
    $D: $D - $Body;
    $step: $step + 1;
    @if $Body > $D and $D > 0deg { $D: $D + 360deg; }
  }
  @return $step * 2;
}
$load_line_rotate_step: load_line_rotate_step($load_L_Body);


// Keyframes
@keyframes L_circle_rotate {
  0%    { transform: rotate(  0deg); }
  100%  { transform: rotate(360deg); }
}
@keyframes L_line_rotate {
  @for $i from 0 through $load_line_rotate_step {
    #{$i/$load_line_rotate_step * 100%} {
      transform: rotate($load_L_Body/2 * $i);
    }
  }
}
@keyframes L_left_rotate {
  0%   { transform: rotate(0deg - $load_L_S/2); }
  50%  { transform: rotate(0deg - $load_L_L/2); }
  100% { transform: rotate(0deg - $load_L_S/2); }
}
@keyframes L_right_rotate {
  0%   { transform: rotate($load_L_S/2); }
  50%  { transform: rotate($load_L_L/2); }
  100% { transform: rotate($load_L_S/2); }
}
@keyframes L_line_color {
   0%, 15%  { border-color: $google_color_blue; }
  25%, 40%  { border-color: $google_color_red; }
  50%, 65%  { border-color: $google_color_yellow; }
  75%, 90%  { border-color: $google_color_green; }
  100%      { border-color: $google_color_blue; }
}

// Keyframes Function
@function L_circle_rotate_F($speed){
  @return L_circle_rotate $speed linear infinite both;
}
@function L_line_rotate_F(){
  @return L_line_rotate $load_line_speed*$load_line_rotate_step/2 $load_timing_function infinite both;
}
@function L_side_rotate_F($side){
  @return L_#{$side}_rotate $load_line_speed $load_timing_function infinite both;
}
@function L_line_color_F(){
  @return L_line_color $load_line_speed*4 $load_timing_function infinite both;
}


//style mixin
@function other_side($side) {
  @if $side == right    { @return left; }
  @elseif $side == left { @return right; }
}
@mixin loading_size($size) {
  width: $size; height: $size;
  box-sizing: border-box;
  border-radius: 50%;
}
@mixin loading_line($line_width) {
  border-style: solid;
  border-width: $line_width;
  border-color: currentColor;
}
@mixin loading_clip($side, $size) {
  position: absolute;
  @if $side == right    { clip: rect(0 $size $size $size/2); }
  @elseif $side == left { clip: rect(0 $size/2 $size 0); }
  @elseif $side == mid  { clip: rect(0 ($size/2 + 1px) $size/2 ($size/2 - 1px)); }
}
@mixin loading_line_animation($color_rainbow, $animation_list) {
  @if $color_rainbow == 1 {
    $animation_list : append($animation_list, L_line_color_F());
  }
  animation: $animation_list;
}

//loading mixin
@mixin loading_circle($size:60px, $line_width:6px, $rotate_mode:0, $color_rainbow:0) {
  @include loading_size($size);
  @if $rotate_mode == 1 { animation: L_circle_rotate_F($load_circle_rotate_foot_speed);  }
  @else { animation: L_circle_rotate_F($load_circle_rotate_nofoot_speed); }
  
  &:before{
    content: ""; display: block;
    @include loading_size($size);
    @include loading_clip(mid, $size);
    @include loading_line($line_width);
    $animation_list: (L_line_rotate_F(),);
    @include loading_line_animation($color_rainbow, $animation_list);    
  }
  
  @each $side in (right, left) {
    
    .loading-line-#{$side} {
    @include loading_size($size);
    @include loading_clip($side, $size);
    animation: L_line_rotate_F();
    
      &:before{
        content: ""; display: block;
        @include loading_size($size);
        @include loading_clip(other_side($side), $size);
        @include loading_line($line_width);
        $animation_list: (L_side_rotate_F($side),);
        @include loading_line_animation($color_rainbow, $animation_list);
      }
    }
    
  }
}

//--------------------------------------------------

.loading-circle           { @include loading_circle; }
.loading-circle-2         { @include loading_circle($rotate_mode:1); }
.loading-circle-rainbow   { @include loading_circle($color_rainbow:1); }
.loading-circle-rainbow-2 { @include loading_circle($rotate_mode:1, $color_rainbow:1); }
.loading-circle-gcolor    { @include loading_circle($color_rainbow:1); }
.loading-circle-gcolor-2  { @include loading_circle($rotate_mode:1, $color_rainbow:1); }